 *{
    margin: 0;
    padding: 0;
 }
 body{
    min-height: 100vh;
    background-image: url('iss069e011321.JPG');
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-size: cover;
}

img{
    /* margin: 30px 100px 100px 100px; */
    border-radius: 70px;
    background-size: 20px;
    
}
.name{
    margin: 10px;
    color: white;
    font-family: 'Prompt', sans-serif;
}
.about{
    color: white;
    font-family: 'Prompt', sans-serif;
    margin: 0px;
}
 
.fa{
    color: white;
    justify-content: space-between;
    margin: 20px;
    cursor: pointer;
}

#link{
    color: white;
    font-weight: 100;
    font-family: 'Dosis', sans-serif;
}

.tile{
    background-color: white;
    margin: 5px;
    color: black;
    width: 50%;
    height: 50px;
    justify-content: space-between;
    border-radius: 20px;
    text-align: center;
    display: flex;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(10, 1, 1);
    margin: 5px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

p{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    margin-bottom: 100px;
}

.gg-website{
    margin: 13px;
}
#resume{
    margin: 13px;
    background-color:rgb(250, 250, 250);
    color: black;
}

.tile:hover{
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.02s;
    transform: scale(1.05);
    background-color:rgb(0, 0, 0);
    color:white;
}

#resume:hover{
    color: darkslategray;
}
.gg-website:hover{
    color: darkslategray;
}
.fa:hover{
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.02s;
    transform: scale(2);
    color: rgb(22, 143, 143);
}

